{% extends 'base.html' %}

{% block body_block %}
<link href="http://getbootstrap.com/examples/signin/signin.css" rel="stylesheet">

<div class="page-header">
    <h1>Login to Rango</h1>
</div>
<div class="container-fluid">
    <form class="form-signin" role="form" method="post" action=".">
        {% csrf_token %}
        <h2 class="form-signin-heading">Please sign in</h2>
        <input class="form-control" placeholder="Username" id="id_username" maxlength="254" name="username" type="text"
               required autofocus=""/>
        <input class="form-control" placeholder="Password" id="id_password" name="password" type="password" required/>
        <br/>
        <button class="btn btn-lg btn-primary btn-block" type="submit" value="Submit">Sign in</button>
        <input type="hidden" name="next" value="{{ next }}"/>
    </form>
    <p>Not a member? <a href="{% url 'registration_register' %}">Register</a>!</p>
</div>
{% endblock %}