{% extends 'base.html' %}

{% block body_block %}
<div class="page-header">
    <h1>Change Password</h1>
</div>
<div>
    <form method="post" action=".">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Submit" />
    </form>
</div>
{% endblock %}