{% extends 'base.html' %}

{% block body_block %}
<div class="page-header">
    <h1>Change Password Done</h1>
</div>
<div>
    <p>Your password has been changed successfully.</p>
</div>
{% endblock %}