{% extends 'base.html' %}

{% block body_block %}
<div class="page-header">
    <h1>Register with Rango</h1>
</div>

<div class="container-fluid">
    <h2 class="form-signin-heading">Sign Up Here</h2>
    <form role="form" method="post" action=".">
        {% csrf_token %}
        <div class="form-group">
            <p class="required">
                <label for="id_username">Username:</label>
                <input class="form-control" id="id_username" maxlength="30" name="username" type="text"
                       placeholder="Enter username" required autofocus=""/>
            </p>
        </div>
        <div class="form-group">
            <p class="required">
                <label for="id_email">E-mail:</label>
                <input class="form-control" id="id_email" name="email" type="email"
                       placeholder="Enter email" required/>
            </p>
        </div>
        <div class="form-group">
            <p class="required">
                <label for="id_password1">Password:</label>
                <input class="form-control" id="id_password1" name="password1" type="password"
                       placeholder="Enter password" required/>
            </p>
        </div>
        <div class="form-group">
            <p class="required">
                <label for="id_password2">Password (again):</label>
                <input class="form-control" id="id_password2" name="password2" type="password"
                       placeholder="Enter password again" required/>
            </p>
        </div>

        <button type="submit" class="btn btn-default">Submit</button>
    </form>
</div>

{% endblock %}