﻿{% extends 'base.html' %}

{% load static %} <!-- Allow us to call the static template tag -->

{% block title %}About{% endblock %}

{% block body_block %}
<div class="page-header">
    <h1>About</h1>
</div>

<div class="container-fluid">
    <p>You're at About page! <strong>{{ boldmessage }}</strong></p><br />

    Here's a picture of Rango!<br/>
    <img src="{% get_media_prefix %}rango.jpg" alt="Picture of Rango" />
</div>

{% endblock %}