﻿{% extends 'base.html' %}

{% load staticfiles %}
{% load bootstrap3 %}

{% block title %}Add New Category{% endblock %}

{% block body_block %}
<div class="page-header">
    <h1>Add New Category</h1>
</div>

<div class="container-fluid">
    <form class="form" id="category_form" method="post" action="/rango/add_category/">
        {% csrf_token %}
        {% bootstrap_form form %}
         <br />
        <button class="btn btn-primary" type="submit" name="submit">Add Category</button>
    </form>
</div>
{% endblock %}