﻿{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}Add New Page{% endblock %}

{% block body_block %}
<div class="page-header">
    <h1><a href="{% url 'category' category.slug %}">{{ category.name }}</a>: Add New Page</h1>
</div>

<div class="container-fluid">
    <form role="form" id="page_form" method="post" action="/rango/category/{{ category.slug }}/add_page/">
        {% csrf_token %}
        {% for hidden in form.hidden_fields %}
            {{ hidden }}
        {% endfor %}

        {% for field in form.visible_fields %}
            {{ field.errors }}
            {{ field.help_text }}<br />
            {{ field }}<br />
        {% endfor %}
         <br />
        <button class="btn btn-primary" type="submit" name="submit">Add Page</button>
    </form>
</div>
{% endblock %}
