﻿{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}{{ category.name }}{% endblock %}

{% block body_block %}
<div class="page-header">
    <h1>{{ category.name }}</h1>
</div>

<div class="container-fluid">
{% if category %}
    {% if pages %}
    <ul>
        {% for page in pages %}
        <li><a href="{{ page.url }}">{{ page.title }}</a></li>
        {% endfor %}
    </ul>
    {% else %}
    <br /><strong>No pages currently in category.</strong>
    {% endif %}

    {% if user.is_authenticated %}
    <br /><a href="{% url 'add_page' category.slug %}">Add New Page</a>
    {% endif %}
{% else %}
<br />The specified category {{ category.name }} does not exist!
{% endif %}
</div>
{% endblock %}