﻿{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}{% endblock %}

{% block body_block %}
<div class="page-header">
    <h1>Restricted Page</h1>
</div>

<div class="container-fluid">
    <p>Since you're logged in, you can see this text!</p>
</div>
{% endblock %}